[submodule "External/ASIHTTPRequest/pokeb-asi-http-request"]
	path = External/ASIHTTPRequest/pokeb-asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "External/OAuthCore/atebits-OAuthCore"]
	path = External/OAuthCore/atebits-OAuthCore
	url = https://github.com/atebits/OAuthCore.git
